{% extends 'core/base.html' %}

{% block title %}My Store{% endblock %}

{% block content %}
    <h1 class="text-2xl">My Store</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="mt-4 px-8 py-4 bg-teal-200 text-teal-800">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <a href="{% url 'add_product' %}" class="mt-6 inline-block py-4 px-8 bg-teal-500 text-white">Add Product</a>

    <h2 class="mt-6 text-xl">My Products</h2>

    {% if products %}
        {% include 'store/partials/products.html' %}
    {% else %}
        <p class="py-4 px-8 bg-gray-200">You do not have any products yet.</p>
    {% endif %}

{% endblock %}